*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body{
    background-color: #dde1c8;
}

nav{
    background-color: #b0ba96;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
}

i{
    cursor: pointer;
}